{% extends 'base.html' %}
<div class="space">{% block heading %} Signup {% endblock heading %}</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
{% block content %}
<br>
<form class="w-2xl sm:w-1/2 max-w-xs flex flex-col mx-auto -mt-8 sm:-mt-12" action="" method="POST">
  {% csrf_token %}
  <div class="w-1/2  max-w-xs flex flex-col sm:flex-row mt-4  sm:items-center"></div>
    <label class="text-xl" for="firstname">Firstname</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded "
      name="first_name"
      type="text"
      placeholder="firstname"
    />
  </div>
  <div class="w-1/2 max-w-xs flex flex-col sm:flex-row mt-4 sm:items-center"></div>
    <label class="text-xl" for="lastname">Lastname</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 mt-2  rounded "
      name="last_name"
      type="text"
      placeholder="last_name"
    />
  </div>
  <div class="w-1/2  max-w-xs flex flex-col sm:flex-row mt-4  sm:items-center"></div>
    <label class="text-xl" for="firstname">Username</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded "
      name="username"
      type="text"
      placeholder="Username"
    />
  </div>
  <div class="w-1/2  max-w-xs flex flex-col sm:flex-row mt-4  sm:items-center"></div>
    <label class="text-xl" for="firstname">Email address</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded "
      name="email"
      type="email"
      placeholder="email address"
    />
  </div>
  <div class="w-1/2  max-w-xs flex flex-col sm:flex-row mt-4  sm:items-center"></div>
    <label class="text-xl" for="firstname">Password</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded "
      name="password"
      type="password"
      placeholder="password"
    />
  </div>
  <div class="w-1/2  max-w-xs flex flex-col sm:flex-row mt-4  sm:items-center"></div>
    <label class="text-xl" for="firstname">Confirm password</label>
    <input
      class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded "
      name="password2"
      type="password"
      placeholder="Confirm password"
    />
  </div>
  
<button class="text-white hover:shadow-md text-xl rounded bg-green-500 px-4 py-2 mt-8 " type="submit">register</button>
</form>


<script>
const users="{{users | escapejs}}"; 
const idField=document.querySelector('#studentID');
const idError=document.querySelector('#studentID-error');
idField.addEventListener('input',()=>{
  idError.classList.add('hidden')
  if (users.includes(idField.value)){
    idError.classList.remove('hidden')
  }
})
</script>
{% endblock content %}

</body>
</html>